<div class="pure-g">
  <h1 class="pure-u-1-2">Puppies: <%= @results[:puppies] %></h1>
  <h1 class="pure-u-1-2">Kittens: <%= @results[:kittens] %></h1>
</div>
<div class="pure-g">
  <div class="pure-u-1 center">
    <a class="button-error pure-button"<a href="/reset">Reset</a>
  </div>
</div>
